{% load terraintags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/static/terrains/css/style.css">
    <script src="/static/terrains/js/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="left half left-half">
            <div id="map"></div>
        </div>

        <div class="left half right-half">
            
            <form class="order-form" action="" method="GET">
                {{ordering_form}}
                <input type="submit" value="Order"> 
            </form>
            
            <div class="box-container">
            {% for terrain in terrains %}
                
                <div class="box" data-marker="{{forloop.counter0}}">
                    <table>
                        <tr>
                            <td class="box-label"><b>Adresse complète</b></td>
                            <td class="box-value">{{terrain}}</td>
                        </tr>
                        <tr>
                            <td class="box-label"><b>Valeur totale</b></td>
                            <td class="box-value">{{terrain.total_value|dollarify}}</td>
                        </tr>
                        <tr>
                            <td class="box-label"><b>Valeur terrain</b></td>
                            <td class="box-value">{{terrain.valeur_terrain|dollarify}}</td>
                        </tr>
                        <tr>
                            <td class="box-label"><b>Valeur batiment</b></td>
                            <td class="box-value">{{terrain.valeur_batiment|dollarify}}</td>
                        </tr>
                    </table>
                </div>

            {% endfor %}
            </div>
        </div>
    
        <div class="clear"></div>

        <div class="legend">
            {% for r, values in ranges.items %}
                <div class="step">
                    <div class="square {{values.color}}"></div>
                    <div class="values">
                        <div class="value">{{values.min_value|dollarify}}</div>
                        <div class="value"> - {{values.max_value|dollarify}}</div>                            
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <script type="text/javascript">
        var terrains = {{terrains_json|safe}};
        var ranges = {{ranges_json|safe}};
        var map;
        var markers = [];
        var infowindows = [];
        var ordering = "{{ordering_param}}";
        var ordering_attributes = {
            "-total_value": "total_value",
            "-valeur_terrain": "valeur_terrain",
            "-valeur_batiment": "valeur_batiment",
            "total_value": "total_value",
            "valeur_terrain": "valeur_terrain",
            "valeur_batiment": "valeur_batiment",
        }

        function closeInfos(){
          if(infowindows.length > 0){
            infowindows[0].set("marker", null);
            infowindows[0].close();
            infowindows.length = 0;
          }
        }

        function addInfoWindow(marker, data) {

            var contentHtml = "<div><b>Valeur batiment:</b> "+ data.valeur_batiment +"</div>"+
            "<div><b>Valeur terrain:</b> "+ data.valeur_terrain +"</div>"+
            "<div><b>Adresse complète:</b>"+ data.complet +"</div>"+
            "<div><b>Numero compte foncier:</b> "+ data.compte_foncier +"</div>"+
            "<div><b>Nom proprietaire:</b> "+ data.nom_proprietaire +"</div>"+
            "<div><b>Prenom proprietaire:</b> "+ data.prenom_proprietaire +"</div>"+
            "<div><b>Addresse proprietaire:</b> "+ data.complet_adr_prop +"</div>"+
            "<div><b>Ville Adresse proprietaire:</b> "+ data.ville_adr_prop +"</div>"+
            "<div><b>Code postal proprietaire:</b> "+ data.cp_adr_prop +"</div>"+
            "<div><b>Reglementation d'urbanisme:</b> "+ data.regl_usage +"</div>"+
            "<div><b>Hauteur:</b> "+ data.regl_hauteur +"</div>"+
            "<div><b>Etages:</b> "+ data.regl_etages +"</div>"+
            "<div><b>Densite:</b> "+ data.regl_densite +"</div>"+
            "<div><b>Implantation:</b> "+ data.regl_implantation +"</div>"+
            "<div><b>Unites de paysage:</b> "+ data.regl_unite_paysage +"</div>"+
            "<div><b>Nom de l'immeuble:</b> "+ data.zone_patrimoine +"</div>"+
            "<div><b>Type de zone tampon:</b> "+ data.type_zone_patrimoine +"</div>"+
            "<div><b>Interet patrimonial:</b> "+ data.interet_immeuble +"</div>"+
            "<div><b>Quartier d'interet:</b> "+ data.interet_quartier +"</div>"+
            "<div><b>Moins de 500 m du métro:</b> "+ data.tampon_500_metro +"</div>";

            var infowindow = new google.maps.InfoWindow({
                content: contentHtml
            });

            marker.addListener('click', function() {
                closeInfos();
                infowindows[0] = infowindow;
                infowindow.open(marker.get('map'), marker);
                map.setZoom(15);
                map.setCenter(marker.getPosition());
                box_index = markers.indexOf(marker);
                $(".box[data-marker="+box_index+"]").siblings().removeClass("active");
                $(".box[data-marker="+box_index+"]").addClass("active");
            });

        }
    
        function getIcon(obj) {
            if(ordering && ordering != "None") {
                value = obj[ordering_attributes[ordering]];
            } else {
                value = obj.total_value;
            }

            if (value >= ranges[1].min_value && value <= ranges[1].max_value) {
                return "/static/terrains/appartements/appartment-purple.png";
            } else if (value >= ranges[2].min_value && value <= ranges[2].max_value) {
                return "/static/terrains/appartements/appartment-purpleligth.png";
            } else if (value >= ranges[3].min_value && value <= ranges[3].max_value) {
                return "/static/terrains/appartements/appartment-purplesuperligth.png";
            } else if (value >= ranges[4].min_value && value <= ranges[4].max_value) {
                return "/static/terrains/appartements/appartment-red.png";
            } else if (value >= ranges[5].min_value && value <= ranges[5].max_value) {
                return "/static/terrains/appartements/appartment-yellow.png";
            } else if (value >= ranges[6].min_value && value <= ranges[6].max_value) {
                return "/static/terrains/appartements/appartment-blue.png";
            } else if (value >= ranges[7].min_value && value <= ranges[7].max_value) {
                return "/static/terrains/appartements/appartment-azure.png";
            } else if (value >= ranges[8].min_value && value <= ranges[8].max_value) {
                return "/static/terrains/appartements/appartment-green.png";
            }
        }
        
        function addMarkers(map){

            for (terrain in terrains) {
                var obj = terrains[terrain];

                var latLng = new google.maps.LatLng(obj.fields.latitude, obj.fields.longitude);
                var icon = getIcon(obj.fields);

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: icon,
                });

                markers.push(marker);
                addInfoWindow(marker, obj.fields);
                map.panTo(latLng);
            }

        }

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 45.498469, lng: -73.562537},
            zoom: 12
          });

          addMarkers(map);

        }

        $(document).ready(function() {
            $(".box").each(function() {
                $(this).click(function() {
                    var markerIndex = $(this).data("marker");
                    google.maps.event.trigger(markers[markerIndex], "click");
                });
            });
        });


    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYVdMO9KjlIwe7pir9347_QFID59qDv3I&callback=initMap"></script>

</body>
</html>


