{% load terraintags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/terrains/css/style.css">
    <script src="/static/terrains/js/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="">
            <div id="map"></div>
        </div>


        <div class="circonscription-container">
            
            <div class="box-container">

                <table cellpadding="0" cellspacing="0" class="circonscriptions-table">
                    <tr>
                        <th>Nom</th>
                        <th>Val. Terr. moyen</th>
                        <th>Val. Bat. moyen</th>
                        <th>Val. Terr. minimum</th>
                        <th>Val. Bat. minimum</th>
                        <th>Val. Terr. max</th>
                        <th>Val. Bat. max</th>
                    </tr>

                    {% for circonscription in circonscriptions %}

                    <tr class="parent">
                        <td>
                            <span class="plus">
                                <img class="plus-icon" src="/static/terrains/icons/plus-icon.png" alt="">
                                <img class="minus-icon" src="/static/terrains/icons/minus-icon.png" alt="">
                            </span> {{circonscription.frname}} ({{circonscription.terrains.count}})</td>
                        <td>{{circonscription.valeur_terrain_moyen|dollarify}}</td>
                        <td>{{circonscription.valeur_batiment_moyen|dollarify}}</td>
                        <td>{{circonscription.valeur_terrain_min|dollarify}}</td>
                        <td>{{circonscription.valeur_batiment_min|dollarify}}</td>
                        <td>{{circonscription.valeur_terrain_max|dollarify}}</td>
                        <td>{{circonscription.valeur_batiment_max|dollarify}}</td>
                    </tr>
                    
                    <tr class="hidden">
                        <td colspan="7" class="big">
                            <table class="terrains-table" cellpadding="0" cellspacing="0" >
                                <tr>
                                    <th>Addresse</th>
                                    <th>Val. Terr.</th>
                                    <th>Val. Bat.</th>
                                    <th></th>
                                </tr>
                                {% for terrain in circonscription.terrains.all %}
                                <tr>
                                    <td>{{terrain}}</td>
                                    <td>{{terrain.valeur_terrain|dollarify}}</td>
                                    <td>{{terrain.valeur_batiment|dollarify}}</td>
                                    <td><span class="show-on-map" data-pk="{{terrain.pk}}">Show on map</span></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    

    </div>


    <script type="text/javascript">

        var to_polygon = {{circonscriptions_geojson|safe}};
        var terrains = {{terrains_json|safe}};
        var markers = [];
        var markers_map = {}
        var infowindows = [];

        function closeInfos(){
          if(infowindows.length > 0){
            infowindows[0].set("marker", null);
            infowindows[0].close();
            infowindows.length = 0;
          }
        }

        function addInfoWindow(marker, data) {

            var contentHtml = "<div><b>Valeur batiment:</b> "+ data.valeur_batiment +"</div>"+
            "<div><b>Valeur terrain:</b> "+ data.valeur_terrain +"</div>"+
            "<div><b>Addresse complet:</b>"+ data.complet +"</div>"+
            "<div><b>Numero compte foncier:</b> "+ data.compte_foncier +"</div>"+
            "<div><b>Nom proprietaire:</b> "+ data.nom_proprietaire +"</div>"+
            "<div><b>Prenom proprietaire:</b> "+ data.prenom_proprietaire +"</div>"+
            "<div><b>Addresse proprietaire:</b> "+ data.complet_adr_prop +"</div>"+
            "<div><b>Ville Adresse proprietaire:</b> "+ data.ville_adr_prop +"</div>"+
            "<div><b>Code postal proprietaire:</b> "+ data.cp_adr_prop +"</div>"+
            "<div><b>Reglementation d'urbanisme:</b> "+ data.regl_usage +"</div>"+
            "<div><b>Hauteur:</b> "+ data.regl_hauteur +"</div>"+
            "<div><b>Etages:</b> "+ data.regl_etages +"</div>"+
            "<div><b>Densite:</b> "+ data.regl_densite +"</div>"+
            "<div><b>Implantation:</b> "+ data.regl_implantation +"</div>"+
            "<div><b>Unites de paysage:</b> "+ data.regl_unite_paysage +"</div>"+
            "<div><b>Nom de l'immeuble:</b> "+ data.zone_patrimoine +"</div>"+
            "<div><b>Type de zone tampon:</b> "+ data.type_zone_patrimoine +"</div>"+
            "<div><b>Interet patrimonial:</b> "+ data.interet_immeuble +"</div>"+
            "<div><b>Quartier d'interet:</b> "+ data.interet_quartier +"</div>"+
            "<div><b>Moins de 500 m du métro:</b> "+ data.tampon_500_metro +"</div>";

            var infowindow = new google.maps.InfoWindow({
                content: contentHtml
            });

            marker.addListener('click', function() {
                closeInfos();
                infowindows[0] = infowindow;
                infowindow.open(marker.get('map'), marker);
                map.setZoom(15);
                map.setCenter(marker.getPosition());
            });

        }

        function addMarkers(map){

            for (terrain in terrains) {
                var obj = terrains[terrain];

                var latLng = new google.maps.LatLng(obj.fields.latitude, obj.fields.longitude);
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                });

                markers.push(marker);
                markers_map[obj.pk] = markers.length - 1;
                addInfoWindow(marker, obj.fields);
                map.panTo(latLng);
            }

        }

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 45.498469, lng: -73.562537},
            zoom: 11
          });

          map.data.addGeoJson(to_polygon);
          map.data.setStyle(function(feature) {
            var color = 'red';
            return ({
              fillColor: color,
              strokeColor: color,
              strokeWeight: 3
            });
          });

          addMarkers(map);
        }


        $(document).ready(function(){
            $(".plus").click(function() {
                var $this = $(this);
                var $parent = $this.parents("tr");

                if($this.hasClass("clicked")) {
                    $parent.next("tr.hidden").hide();
                    $this.removeClass("clicked");
                    $this.find("img.plus-icon").show();
                    $this.find("img.plus-icon").siblings().hide();
                } else {
                    $parent.next("tr.hidden").show();
                    $this.addClass("clicked");
                    $this.find("img.minus-icon").show();
                    $this.find("img.minus-icon").siblings().hide();
                }
            });

            $("span.show-on-map").click(function() {
                var $pk = $(this).data("pk");
                var $index = markers_map[$pk];
                google.maps.event.trigger(markers[$index], "click");
                window.scrollTo(0, 0);
            });

        });

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYVdMO9KjlIwe7pir9347_QFID59qDv3I&callback=initMap"></script>

</body>
</html>
